<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css"/>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a>
                </li>
                <li><a id="linkUpload" href="#">Upload</a>
                </li>
             </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        <div class="row">
            {{#each albums}}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" title="Image 1" href="#">
                    <img class="img-responsive" src="{{fileName}}">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Company 2013</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src=""></script>
</body>

</html>